<app-header></app-header>

<div class="container-fluid bg" style="background-image: url(assets/bg.jpg);"><br><br>
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4" style="background-color: lightcyan;">
      <h1 style="text-align: center;">Form</h1>
      <form [formGroup]="parentForm">
        <label for="firstName">First Name
          <input type="text" name="firstName" id="firstName" tabindex="1" formControlName="firstName">
        </label><br>
        <label for="lastName">Last Name
          <input type="text" name="lastName" id="lastName" tabindex="2" formControlName="lastName">
        </label><br>
        <app-child></app-child>
        <br>
      <p style="text-align: center;"><button type="submit">Submit</button></p>
      </form>
    </div>
    <div class="col-md-4"></div><br><br>
  </div><br><br>
</div>

<app-footer></app-footer>